language: php

php:
  - 7.0
  - 5.6
  - 5.5
  - 5.4

matrix:
  allow_failures:
    - php: 7.0

addons:
  code_climate:
    repo_token: 731b271667db5c81e244e6cbdb2035c73a2e8270d24068c51f86e907d9ec6277

before_install:
  - pecl install pthreads-beta
  - pecl install xdebug
  - phpenv rehash

before_script:
  - composer selfupdate

script:
  - ant composer-init
  - ant build
  
after_script:
  - vendor/bin/test-reporter --coverage-report=target/reports/unit/clover.xml

notifications:
  email: info@appserver.io
  hipchat: 95d47a72c5372d4a0fef20048c3200@Appserver
