<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome to php webserver!</title>
<style>
    body { width: 80%; margin: 0 auto; font-family: Helvetica, Arial, sans-serif; text-align: center; }
    footer { margin-top: 30px; }
</style>
</head>
<body>
<h1>Welcome to php webserver!</h1>
<p>If you see this page, the php webserver web server is successfully installed and
    working. Further configuration is required.</p>

<p>For online documentation and support please refer to
    <a href="http://github.com/appserver-io/webserver">http://github.com/appserver-io/webserver</a>.
</p>

<p><em>Thank you for using php webserver.</em></p>
</body>
</html>